.container {
  min-height: 100svh;
  display: flex;
  flex-flow: column;
}

.content {
  display: flex;
  flex: 1;
  flex-flow: column;
}

.inner {
  max-width: 540px;
}

.cover {
  flex: 0;

  img {
    display: block;
    height: 440px;
    object-fit: cover;
    width: 100%;
  }
}

.header {
  background: var(--color-bg-secondary);
  padding: var(--spacing-2xl) var(--spacing-md);
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 var(--spacing-xs);
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 var(--spacing-xs);
}

.intro {
  color: var(--color-text-secondary);
}

.recent-posts {
  flex: 1;
  padding: var(--spacing-md);

  h2 {
    font-size: 1.5rem;
    margin: 0 0 var(--spacing-xs);
  }
}

.recent-posts-list {
  list-style: none;
  padding: 0;
}

.recent-post:not(:first-child) {
  margin-top: var(--spacing-xl);
}

.recent-post-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0 0 var(--spacing-xs);
  text-wrap: pretty;
}

.recent-post-description {
  color: var(--color-text-secondary);
}

.recent-post-date {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
  margin-top: var(--spacing-xs);
}

.social-links {
  display: flex;
  gap: var(--spacing-md);
  list-style: none;
  padding: 0;

  a {
    align-items: center;
    display: inline-flex;
    gap: var(--spacing-2xs);
  }
}

.footer {
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
  border-top: 1px solid var(--color-border-primary);
  padding: var(--spacing-md);
}

@media (width > 960px) {
  .container {
    flex-flow: row;
    height: 100svh;
  }

  .content {
    flex: 0;
    min-height: 0;
    min-width: 540px;
  }

  .recent-posts {
    flex: 1;
    overflow: auto;
  }

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .cover {
    display: block;
    height: 100%;
    flex: 1;

    img {
      height: 100%;
      min-height: unset;
    }
  }
}
