.ctc-image {
  &::part(button) {
    opacity: 0;
    background: rgb(0 0 0 / 80%);
    transition: opacity 150ms;
  }

  &:hover::part(button) {
    opacity: 1;
  }
}

back-to-top {
  --btt-button-background: var(--bg-highlight);
  --btt-button-background-hover: light-dark(rgb(0 0 0 / 20%), rgb(0 0 0 / 80%));
  --btt-button-color: var(--color-text-primary);
}

figcaption {
  font-size: 0.875rem;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1rem;
}

.banner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  a {
    color: var(--color-link-primary);
    text-decoration: none;
    transition:
      transform 200ms,
      color 200ms;

    &:visited {
      color: var(--color-link-primary);
    }

    &:hover {
      color: var(--color-link-primary);
    }
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;

  &:hover {
    transform: scale(1.05);
  }
}

.nav {
  align-items: center;
  display: flex;
  gap: 1rem;

  a {
    line-height: 1;

    &:hover {
      transform: scale(1.25);
    }
  }
}

.post {
  max-width: 100%;
  overflow: clip;
}

.post-header {
  background: var(--bg-highlight);
  margin: 0 0 1rem;
  padding: 1rem 0 0;
}

.post-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.post-meta {
  align-items: baseline;
  display: flex;
  gap: 1rem;
  justify-content: right;
  padding: 1rem 0 0.5rem;
}

.post-date {
  color: light-dark(var(--color-secondary-darker),
      var(--color-secondary-light));
  font-size: 0.875rem;
}

.post-content {
  p {
    margin: 0 0 1rem;

    code {
      font-size: 0.875rem;
    }
  }

  h2,
  h3,
  h4 {
    margin: 2rem 0 1rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  pre {
    font-size: 0.875rem;
    margin: 0 0 2rem;
    overflow: auto;
    padding: 0.5rem;
  }

  img {
    background: var(--bg-highlight);
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem;
  }
}

.post-description {
  font-size: 1.125rem;
}

.post-footer {
  background: var(--bg-highlight);
  border-top: solid 1px var(--border-primary);
  padding: 1rem 0;
}

.licence {
  line-height: 1.75;
}

#share-fallback {
  background: black;
  border: none;
  border-radius: 1rem;
  left: 50%;
  min-width: 280px;
  padding: 2rem;
  top: 50%;
  transform: translate(-50%, -50%);

  &::backdrop {
    background: rgb(0 0 0 / 40%);
  }
}

.share-fallback-title {
  font-size: 1.25rem;
  margin: 0 0 0.5rem;
}

.share-fallback-links {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;

  a,
  a:visited,
  a:hover {
    color: white;
    text-decoration: none;
  }
}

.share-btn {
  align-items: center;
  background: transparent;
  border: none;
  color: light-dark(var(--color-secondary-darker),
      var(--color-secondary-light));
  cursor: pointer;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
}

@media (width >=600px) {
  .post-header {
    padding: 2rem 0 0;
  }

  .post-date,
  .share-btn {
    font-size: 1rem;
  }
}

@media (width >=1024px) {
  .post-content {
    font-size: 1.125rem;

    p {
      code {
        font-size: 1rem;
      }
    }

    pre {
      padding: 1rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  .post-title {
    font-size: 4rem;
  }

  .post-description {
    font-size: 1.5rem;
  }
}

@keyframes zoom-title {
  to {
    transform: rotate(-10deg) scale(1.5);
    opacity: 0.5;
  }
}

@supports (animation-timeline: scroll()) {
  .post-header {
    animation: zoom-title linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }
}
