:root {
  color-scheme: light dark;

  --color-stone: lch(50% 1.5 75);
  --color-peach: lch(55% 48 38);

  --color-white: lch(99% 4 75);
  --color-black: lch(2% 4 75);

  --color-primary-50: lch(from var(--color-peach) 95% c h);
  --color-primary-100: lch(from var(--color-peach) 90% c h);
  --color-primary-200: lch(from var(--color-peach) 80% c h);
  --color-primary-300: lch(from var(--color-peach) 70% c h);
  --color-primary-400: lch(from var(--color-peach) 60% c h);
  --color-primary-500: lch(from var(--color-peach) l c h);
  --color-primary-600: lch(from var(--color-peach) 40% c h);
  --color-primary-700: lch(from var(--color-peach) 30% c h);
  --color-primary-800: lch(from var(--color-peach) 20% c h);
  --color-primary-900: lch(from var(--color-peach) 10% c h);
  --color-primary-950: lch(from var(--color-peach) 5% c h);

  --color-neutral-50: lch(from var(--color-stone) 95% c h);
  --color-neutral-100: lch(from var(--color-stone) 90% c h);
  --color-neutral-200: lch(from var(--color-stone) 80% c h);
  --color-neutral-300: lch(from var(--color-stone) 70% c h);
  --color-neutral-400: lch(from var(--color-stone) 60% c h);
  --color-neutral-500: lch(from var(--color-stone) l c h);
  --color-neutral-600: lch(from var(--color-stone) 40% c h);
  --color-neutral-700: lch(from var(--color-stone) 30% c h);
  --color-neutral-800: lch(from var(--color-stone) 20% c h);
  --color-neutral-900: lch(from var(--color-stone) 10% c h);
  --color-neutral-950: lch(from var(--color-stone) 5% c h);

  --color-border-primary: light-dark(var(--color-neutral-200),
      var(--color-neutral-700));

  --color-bg-primary: light-dark(var(--color-white), var(--color-neutral-800));
  --color-bg-secondary: light-dark(var(--color-neutral-50),
      var(--color-neutral-900));

  --color-link: var(--color-text-primary);
  --color-link-hover: light-dark(var(--color-primary-600),
      var(--color-primary-100));
  --color-link-underline: var(--color-primary-400);
  --color-link-hover-underline: light-dark(var(--color-primary-600),
      var(--color-primary-300));
  --color-link-visited: light-dark(var(--color-primary-600),
      var(--color-primary-100));
  --color-link-visited-underline: var(--color-primary-400);
  --color-link-focus: var(--color-link-hover);
  --color-link-focus-underline: var(--color-link-hover);

  --color-text-primary: light-dark(var(--color-black), var(--color-white));
  --color-text-secondary: light-dark(var(--color-neutral-600),
      var(--color-neutral-200));

  --codeblock-bg: var(--color-neutral-900);
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-link);
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-color: var(--color-link-underline);
  transition:
    text-decoration-color 200ms,
    color 200ms;

  &:visited {
    color: var(--color-link-visited);
    text-decoration-color: var(--color-link-visited-underline);
    font-weight: 400;
  }

  &:focus-visible {
    color: var(--color-link-focus);
    text-decoration-color: var(--color-link-focus-underline);
  }

  &:active {
    position: relative;
    top: 0.125rem;
  }
}

@media (hover: hover) {
  a:hover {
    color: var(--color-link-hover);
    text-decoration-color: var(--color-link-hover-underline);
  }
}
