body {
  font: 300 1em/1 'Merriweather', Georgia, serif;
  color: #555;
}

h1, h2, h3, h4 {
  font-weight: 400;
  margin: 0 0 1em;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.6em;
}
