<footer class="site-footer">
  <div class="container">
    <p>&copy; Phil Parsons</p>
    <span aria-hidden="true">&middot;</span>
    <p xmlns:cc="http://creativecommons.org/ns#">Content licensed under <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">CC BY 4.0</a></p>
  </div>
</footer>
