---
title: Phil Parsons
description: Web developer and bike enthusiast from London, UK
---
<!doctype html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">

{%- if tags.length > 0 %}
  <meta property="og:type" content="article">
{%- else %}
  <meta property="og:type" content="website">
{%- endif %}
  <meta property="og:url" content="https://philparsons.co.uk{{ page.url }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="https://philparsons.co.uk/img/socialcard/{{ social_card or 'home.jpg' }}">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://philparsons.co.uk{{ page.url }}">
  <meta property="twitter:title" content="{{ title }}">
  <meta property="twitter:description" content="{{ description }}">
  <meta property="twitter:image" content="https://philparsons.co.uk/img/socialcard/{{ social_card or 'home.jpg' }}">

  <link rel="icon" href="/img/icon.png">
  <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="Phil Parsons">

  {%- css %}{% include "../../css/site.css" %}{% endcss %}
  <style>{% getBundle "css" %}</style>

  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "86e36e0634bb461e84a1b6a61f287b46"}'></script>

  <title>{{ title }}</title>
</head>

<body>
  {{ content | safe }}
</body>

</html>
